* text=auto eol=lf
*.php text
*.js  text
*.css text
*.md  text
*.png binary
*.jpg binary
*.svg text

# Keep release zips lean
/.github        export-ignore
/tools          export-ignore
/tests          export-ignore
phpcs.xml.dist  export-ignore
composer.json   export-ignore
